<div class="row">
    <div class="col-md-3">
        image
    </div>
    <div class="col-md-6">
            <%= artist %> - <%= title %> (Qty <%= quantity %>)
    </div>   
    <div class="col-md-3">
            controls
    </div>   
    
</div>